$color-primary: #C30B7F;
$color-primary-light: #db61ae;
$color-primary-dark: #610b41;
$color-white: white;
$color-balck: black;
$color-shadow: rgb(255, 183, 213);
$color-social: rgb(253, 84, 149);
$about-image: url(../src/myself.jpg);

$grid-width: 110rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


html {
    font-size: 62.5%;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: initial;
    font-family: 'Lato', sans-serif;
}

.home {
    margin-left: 25%
}

.intro {
    position: absolute;
    top: 29%;
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: .1rem;
    line-height: 8rem;
    z-index: -1;
  
    animation-name: moveInLeft;
    animation-duration: 2.5s;
    animation-timing-function: easy-in;

    &-main {
        display: block;
    }
      
    &-sub1 {
        display: block;
        color: $color-primary;
    }
    
    &-sub2 {
    display: block;
    }
    
    & span:hover {
        color: $color-primary;
    }
}
  
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
  
  
.title {
    position: absolute;
    top: 62%;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .45rem;
  
    animation-name: moveInRight;
    animation-duration: 2.5s;
    animation-timing-function: easy-in;

    & a {
        text-decoration: none;
        font-weight: 400;
        line-height: 7rem;
        padding: .8rem 1.6rem;
        color: $color-primary;
        border: .1rem solid $color-primary;
        letter-spacing: .1rem;

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-balck, .15);
            transform: translateY(-3px);
        }
    }
}
  
@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.nav {
    list-style-type: none;
    overflow-x: hidden;
    overflow: auto;
    position: absolute;
    width: 12rem;
    height: 100%;
    float: left;
    background: $color-balck;
    color: $color-white;
    z-index: 3;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;

    & ul {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 30%;
        width: 100%;
    }

    &-links {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 20px 0;
        line-height: 51px;
    
        & :hover {
            color: $color-balck;
            background-color: $color-white;
        }
    }
}
 
.social {
    position: fixed;
    display: flex;
    color: $color-balck;
    margin-left: 75%;
    margin-top: 5%;
    text-align: center;
    align-items: center;

    & ul {
        display: flex;
        list-style: none;

        & li {
            position: relative;
            display: block;
            height: 5rem;
            width: 5rem;
            background-color: $color-primary;
            line-height: 4.7rem;
            border-radius: 50%;
            margin: 0 1.5rem;
            cursor: pointer;
            transition: .5s;
        }

        & li:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background: $color-social;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            z-index: -1;
            transform: scale(0.9);
        }

        & li:hover:before {
            transform: scale(1.2);
            box-shadow: 0 0 1.5rem $color-shadow;
            filter: blur(3px);
        }

        & li:hover {
            color: $color-social;
            box-shadow: 0 0 1.5rem $color-shadow;
            text-shadow: 0 0 1.5rem $color-shadow;
        }
    }
}
  
.footer {
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    background-color: none;
    color: $color-balck;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
  
.bigbox {
    background-color: $color-white;
    padding: 6rem 0;
    margin-left: 12rem;
}
   
.title-text {
    text-align: center;
    margin-bottom: 5rem;

    & h1 {
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        color: transparent;
        letter-spacing: .2rem;
        transition: all .3s;
    }
}

.row {
    max-width: $grid-width;
    margin: 0 auto;
    

    &:not(:last-child) {
        //:not select choose everything except the element inside ()
        margin-bottom: $gutter-vertical;
        margin-right: $gutter-horizontal;
    }

    @include clearfix;

    // [classNmae^="col-"] {
    //     float: left;

    //     &:not(:last-child) {
    //         margin-right: $gutter-horizontal;
    //     }
    // }

    .col-1-of-2 {
        float: left;
        width: calc((100% - #{$gutter-horizontal}) / 2 );   
    }

    .col-1-of-4 {
        float: left;
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }
}

.paragraph {
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.composition {
    position: relative;

    &__photo {
        width: 50%;
        box-shadow: 0 1.5rem 4rem rgba($color-balck, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1.5rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        
        &--p2 {
            right: 0;
            top: 2.5rem;
        }
        
        &--p3 {
            left: 22%;
            top: 18rem;
        }

        &:hover {
            outline: .2rem solid $color-primary;
            transform: scale(1.05);
            box-shadow: 00 2.5rem 4rem rgba($color-balck, .5);
            z-index: 20;
        }
        
    }
    
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
   
}
  
@keyframes appear {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 100%;
    }
}
  
.blogLink {
    font-size: 1.5rem;
    font-weight: 250;
    
}

.blog-box {
    margin-left: 12rem;
    margin-top: 25%;
    width: 65%;
    height: 25rem;
    text-align: right;
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-balck, .15);
    transition: transform .2s;
    
    &__title {
        text-align: center;
        font-size: 1.6rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        color: transparent;
        margin-bottom: 1rem;
    }

    &__date {
        display: inline-block;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        font-weight: 300;
    }

    &__content {
        text-align: center;
        margin-bottom: 3rem;
    }        
    
    &__link {
        text-decoration: none;
        display: inline-block;
        padding-top: 3rem;  
        font-size: 1.2rem;  
        text-transform: uppercase; 
        z-index: 20;  
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

}